body {
    background-image: url(~flower.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #ffed51;
    font-family: 'Voltaire', sans-serif;
}

#content h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: -30px;
    text-align: center;
    color: #ffed51;
    text-shadow: 10px 10px 20px #000000;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #ffed51;
}

#nav li {
    float: left;
}

#nav li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none;
}

#nav li a:hover{
    color: #ffed51;
    text-shadow: 2px 2px 20px black, 2px 2px 0px black, 0px 0px 0px black;
}

#content {
    border: solid 6px #ffed51;
    margin-top: 16px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 25px;
    background-color: rgba(255, 237, 81, 0.2);
}

table {
    margin: auto;
}

#content ul, #content ol {
    margin: auto;
    width: 45%;
}

#content h2 {
    color: #ffed51;
    text-shadow: 2px 2px 20px black, 2px 2px 0px black, 0px 0px 0px black;
}